* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, serif;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
}

/*MAIN*/
main {
    margin-top: 129px;
    margin-right: 91px;
    margin-left: 81px;
    transition: 0.5s;
}

.search {
    width: 100%;
    border: none;
    border-bottom: #757575 solid 1px;
    line-height: 24px;
    opacity: 0.5;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.search:focus {
    opacity: 1;
    transition: 0.3s;
}

h1 {
    margin-top: 57px;
    font-weight: 400;
    font-size: 22px;
}

.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.card:hover {
    background-color: rgba(231, 231, 231, 0.77);
    transition: 0.2s;
}

.card:active {
    background-color: rgb(218, 218, 218);
    transition: 0.2s;
}

.card-content {
    margin-top: 6px;
    font-size: 14px;
    color: #626262;
}

.card-time {
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 13px;
}

.grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 14px;
}

.card img {
    margin-bottom: 16px;
    width: 100%;
}

/*MEDIA*/
@media (max-width: 768px) {
    main {
        margin-right: 8px;
        margin-left: 8px;
        transition: 0.5s;
    }

    .footer {
        margin-right: 8px;
        margin-left: 8px;
        transition: 0.5s;
    }

    nav a {
        margin-left: 8px;
        transition: 0.5s;
    }

    nav button {
        margin-right: 8px;
        transition: 0.5s;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 425px) {
    .basket {
        display: none;
    }

    .enter {
        margin-right: 8px;
        transition: 0.5s;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }

    .grid-bottom {
        grid-template-columns: 1fr;
    }
}
